* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
}
:root {
  background-color: $neutrals-950;
  color: $neutrals-100;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
img {
  max-width: 100%;
  display: block;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'roc-grotesk', 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.25px;
}

span {
  font-family: 'roc-grotesk', 'IBM Plex Sans', sans-serif;
  // font-size: 1rem;
  &.overline {
    text-transform: uppercase;
    color: $secondary;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 1px;
  }
}

button {
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  color: $primary;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: $tertiary;
  }
}
