//cores
$primary: #096cff !default;
$secondary: #ffe920 !default;
$tertiary: #33ff99;

$neutrals-950: #151a30;
$neutrals-900: #192038;
$neutrals-800: #222b45;
$neutrals-700: #303953;
$neutrals-600: #444d68;
$neutrals-500: #717d9f;
$neutrals-400: #99a9c2;
$neutrals-300: #d4ddeb;
$neutrals-200: #ecf0f6;
$neutrals-100: #f7f9fc;
$neutrals-50: #fcfcfc;

$purple-400: #6d28d9;
$purple-300: #8b5cf6;
$red: #ff337c;
$green: #33ff99;
$yellow: #ffd981;

$white: #fcfcfc;
$gray-100: #f7f9fc;
$gray-200: #ecf0f6;
$gray-300: #d4ddeb;
$gray-400: #99a9c2;
$gray-500: #717d9f;
$gray-600: #444d68;
$gray-700: #303953;
$gray-800: #222b45;
$gray-900: #192038;
$gray-950: #0d1021;

$gradient-vd: linear-gradient(
  180deg,
  rgba($neutrals-800, 0.15),
  rgba(#222b45, 0)
);

$dark: $gray-900;
$light: $gray-100;
$black: $gray-950;
$blue: #096cff;
$indigo: #a78bfa;
$purple: #6d28d9;
$red: rgb(255, 51, 94);
$green: #33ff99;
$yellow: #ffe920;
$body-color: $neutrals-400;
$link-color: $blue;
$link-hover-decoration: none;
$link-hover-color: lighten($link-color, 15%);
$font-family-sans-serif: 'roc-grotesk', 'IBM Plex Sans', 'Inter', sans-serif;
$font-family-monospace: 'IBM Plex Mono', sans-serif;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $green,
  'info': lighten($primary, 20%),
  'warning': $yellow,
  'danger': $red,
  'light': $light,
  'dark': $dark,
);

$grays: (
  '100': $gray-100,
  '200': $gray-200,
  '300': $gray-300,
  '400': $gray-400,
  '500': $gray-500,
  '600': $gray-600,
  '700': $gray-700,
  '800': $gray-800,
  '900': $gray-900,
  '950': $gray-950,
);

// cards

// $card-height: 10rem;
// $card-border-radius: 0.75rem;
// $card-bg: $neutrals-900;
// $card-color: $neutrals-100;

$navbar-height: 4.375rem;

$sidebar-width: 256px;

// Font Awessome Path
$fa-font-path: '../assets/fontawessome/webfonts';

//Botoes

.btn-tsr-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var($neutrals-100);
  --bs-btn-bg: var($neutrals-700);
  --bs-btn-border-color: var($neutrals-600);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($neutrals-700, 10%)};
  --bs-btn-hover-border-color: #{shade-color($neutrals-700, 10%)};
  --bs-btn-focus-shadow-rgb: var(--neutrals$neutrals-700-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($neutrals-700, 20%)};
  --bs-btn-active-border-color: #{shade-color($neutrals-700, 20%)};
}
